$primary-color: #23221e;
$secondary-color: #383633;
$character-color:#16a085 ;
$skill-color: #0077c2;
$escape-color: #d4af37;
$story-color:#7f7f7f;
$attack-color: #e74c3c;
$enemy-color: #993399;

@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");